
<div class="alert alert-danger alert-dismissible d-flex align-items-center fade show">
  <i class="bi-exclamation-octagon-fill"></i>
  <strong class="mx-2">Error!</strong><%= notice %>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>